global
    user {{ haproxy_user }}
    group {{ haproxy_group }}

defaults
    retries {{ haproxy_retries }}
    timeout connect {{ haproxy_connection_timeout }}
    timeout server {{ haproxy_server_timeout }}
    timeout client {{ haproxy_client_timeout }}

{% for service in haproxy_services %}
listen mysql-cluster
{% if ( service.enable_ssl is defined) and ( service.enable_ssl != '') %}
{% if service.enable_ssl == True %} 
{% if service.proto == "http" %}
    bind {{ service.bind_ip }}:{{ service.port}} ssl crt {{ service.ssl_cert_path }}
{% endif %}
{% endif %}
{% if service.enable_ssl == False %} 
    bind {{ service.bind_ip }}:{{ service.port}}
{% endif %}
{% endif %}
    mode {{ service.proto }}
    balance {{ service.balancer_mode }}
{% for host in service.backend_hosts %}
    server {{ host.hostname }} {{ host.ip_addr }}:{{ service.port }} check port {% if service.check_port is defined %}{{ service.check_port }}{%endif%} {% if service.health_check_fall is defined%} fall {{ service.health_check_fall }}{%endif%} {% if service.health_check_rise is defined %} rise {{ service.health_check_rise }}{% endif%} 
{% endfor %}

{% endfor %}
